img { max-width: 100%; }

img.banner { width: 90rem; height: auto; }

/*Style layout with flexbox
container { display: flex; justify-content: space-between; }
aside { width: 25%; }
main { width: 70%; }
*/

/*Style layout with grid*/
.container {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width:  50rem){
    .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}


